

H1 {
    color: Red;
}

H2 {
     {
        color: #68ff54;
    }
}

H3 {
    color:yellow;
    color: ffff00;

}

H4 {
    color: #0000ffff;
}

H5 {
    color: #fc0
}

H6 {
    background-color: rgba(119, 78, 209, 0.2); 
color: rgba(119, 78, 209, 0.2)

}

H7 {
    color: rgb(4, 247, 57);
}